<% if @current_user.present? && @current_user.cartools.present? %>
	<h1>My Shopping Cart</h1>
  <%= render 'carts/cart' %>
<% end %>



<h1> Tools For Sale Page</h1>

<%= paginate @tools %>

<%= form_tag tools_url, :method => 'get' do %>
<%= label_tag :keyword, 'Search' %>
<%= text_field_tag :keyword, nil, :placeholder => 'Search' %>
<%end%>


<table>
  <tr>
    <th>Tool name</th>
    <th>Tool type</th>
    <th>Tool price</th>
    <th>Tool condition</th>
    <th>Tool description</th>
    <th>Tool picture</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @tools.each do |tool| %>
  <tr>
    <td><%= tool.tool_name %></td>
    <td><%= tool.tool_type %></td>
    <td><%= number_to_currency(tool.tool_price, :precision => 0) %></td>
    <td><%= tool.tool_condition %></td>
    <td><%= tool.tool_description %></td>
    <td>#<%= tool.tool_picture %></td>
    <% if session[:user_id].present? %>
		<!-- Create a key called tool_id in your params hash and pass it the id of your tool -->
    <td><%= link_to 'Add to Cart', cartools_url(tool_id: tool.id), method: :post %> | </td>
    <% else %>
     <td><%= link_to 'Sign in to Buy', signin_url %></td> 
    <% end %>
    <td><%= link_to 'Show', tool_url(tool.id) %></td>
   
  </tr>
<% end %>
</table>

<br />
<ul>
<%= link_to 'Sell your Tools here!', new_tool_url %>
</br>
<%= link_to 'Back to Home', root_url %>
</ul>

