<% if @current_user.present? && @current_user.cart_items.present? %>
	<h1>My Shopping Cart</h1>
	<ul>
	<% @current_user.cart.cart_items.each do |cart_item| %>
		<li>
			<%= cart_item.tool.name %>: <%= number_to_currency(cart_item.tool.price) %>
			| <%= link_to 'Remove from Cart', cart_item_url(cart_item), method: :delete, confirm: "Are you sure you want to remove #{cartool.tool.name} from your cart?" %>
		</li>
	<% end %>
	</ul>
<% end %>



<h1> Tools For Sale Page</h1>

<%= form_tag tools_url, :method => 'get' do %>
<%= label_tag :keyword, 'Search' %>
<%= text_field_tag :keyword, nil, :placeholder => 'Search' %>
<%end%>


<table>
  <tr>
    <th>Tool name</th>
    <th>Tool type</th>
    <th>Tool price</th>
    <th>Tool condition</th>
    <th>Tool description</th>
    <th>Tool picture</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @tools.each do |tool| %>
  <tr>
    <td><%= tool.tool_name %></td>
    <td><%= tool.tool_type %></td>
    <td><%= number_to_currency(tool.tool_price, :precision => 0) %></td>
    <td><%= tool.tool_condition %></td>
    <td><%= tool.tool_description %></td>
    <td>#<%= tool.tool_picture %></td>
    <% if session[:user_id].present? %>
    <td><%= link_to 'Add to Cart', cart_url(Cart.find_by_user_id(session[:user_id]))%> | </td>
    <% else %>
     <td><%= link_to 'Sign in to Buy', signin_url %></td> 
    <% end %>
    <td><%= link_to 'Show', tool_url(tool.id) %></td>
   
  </tr>
<% end %>
</table>

<p>
Mauris arcu nisl, eleifend ut fermentum nec, mattis eu lorem. Sed iaculis feugiat nisi et ullamcorper. Curabitur dictum nisl sed metus sagittis ullamcorper. Fusce risus enim, cursus non feugiat in, consequat in ligula. Morbi auctor laoreet mi vel rhoncus. Cras aliquet placerat rhoncus. Maecenas quis mi vel enim ultrices mattis a non magna. Integer commodo enim a augue lacinia dapibus. Sed nisi lacus, pellentesque eu malesuada et, fringilla ut libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lacus mauris, sed egestas metus.
</p>

<br />
<ul>
<%= link_to 'Sell your Tools here!', new_tool_url %>
</br>
<%= link_to 'Back to Home', root_url %>
</ul>

