<h1>My profile</h1>

<%= link_to 'Edit My Account', edit_user_path(@user) %> 

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Date joined</b>
  <%= @user.created_at.strftime("%b %d, %Y") %>
</p>

<div id = "tools">
	<div>My listings</div>
  <% @user.tools.each do |tool| %>
   <p>Tool name: <%=tool.tool_name %>, Price: <%=tool.tool_price %> 
      <%= link_to "edit", edit_tool_path(tool) %> </p>
      <%#= link_to "remove", asset, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <%end%>
 <%= link_to 'List a New Tool', new_tool_path %>
</div>


<%= link_to 'Back to All Users', users_path %>
