<% if @current_user.present? && @current_user.cart_items.present? %>

<h1>My Shopping Cart | Dragging-Up</h1>

</br>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <b><%= @cart.user_id %></b>
</p>

<ul> 
  <% @tools.each do |tool| %>
  <% @current_user.cart.cartool.each.do |cartool| %>
    <li> <%= cartool.tool.name %> : <%= number_to_currency(cartool.tool.price) %>
         <%= link_to 'Remove from Cart', cartool_url(cartool), method:delete, confirm: "Are you sure you want to remove #{cartool.tool.name} from your cart?" %>
    </li>
    <% end %>
</ul>
<% end %>

<h1>Tools for Sale</h1>

<ul>
  <% @tools.each do |tool| %>
  <li>
    <%= link_to tool.name, tool_url(tool) %>: <%= number_to_currency(tool.price) %>
    |<%= link_to 'Edit', '#' %>
    |<%= link_to 'Remove', '#' %>
    |<%= link_to 'Back to Shopping', tools_url %> |
    |<%= link_to 'Checkout', '#' %>
  </li>
  <% end %>
</ul>


