<!DOCTYPE html>
<html>
<head>
  <title>DraggingUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<div id="container">
		<header>
			<h1><%= link_to "Dragging Up", root_url %></h1>
			<nav>
				<ul>
				  
          <li><%= link_to "About Us", '#' %></li>
          <li><%= link_to "Help", help_url %></li>
          <li><%= link_to "Contact", contactontact_url %></li>
        
          <% if session[:user_id] %>
          
          <li><%= link_to "My Profile", user_url(session[:user_id]) %></li>
					<li><%= link_to " For Sale Tools Listing", tools_url %></li>
					<li><%= link_to "Sell Your Tools", new_tool_url %></li>
					<li><%= link_to "My Shopping Cart", cart_url %></li>
					<li><%= link_to "Sign Out", signout_url %></li>
					
          <% else %>
          
          <li><%= link_to "Sign Up", new_user_url %></li>
          <li><%= link_to "Sign In", signin_url %></li>
          
          <% end %>
         
				</ul>
			</nav>
			<p>
			  <% if session[:user_id] %>
			    <% u = User.find_by_id(session[:user_id]) %>
			    Hello, <%= u.name %>
			 <% end %> 
			</p>
		</header>

		<div id="content">
			<%= yield %>
		</div>
		</br>
		</br>
		<footer>
			&copy;2012 Dragging Up, Inc.  Got tools to sell? or keep 'em to yourself!
		</footer>
	</div>
</body>
</html>
